body {
    color: rgb(241, 241, 241);

}
.h1{
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    margin-left: 15%;
}

.stylesContainer {
    display: grid;
    grid-template-columns:repeat(5,1fr);
   justify-items: center;
   align-items: center;
   text-align: center;
    margin-left: 230px;
    gap: 20px;
    margin-right: 20px;
}

.optionsContainer {
    width: 15%;
    height: 95%;
    bottom: -5%;
    left: 0;
    position: absolute;
    background-color: rgb(18, 12, 39);
    margin-left: 0;
}

ul {
    margin: 0;
}

ul li {
    margin-block: 28%;
    cursor: pointer;
    list-style: none;

}
.stylesDiv{
    display: flex;
    
}
.stylesimg{
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;

}